* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: lightblue;
/*  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-718047.jpg);
  background-repeat: repeat;*/
}